window {
	background-color: rgba(48, 48, 48, 1);
	color: #d7d7d7;
	font-family: "Helvetica Neue"; }

entry {
	box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.9);
	font-family: "Helvetica Neue";
	font-size: 17px;
	color:  #d7d7d7;
	background-color: #202433;
	border: none; }

button {
	color: rgb(228, 228, 228);
	font-family: "Helvetica Neue";
	font-size: 18px;
	text-shadow: none;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.281);
	background:  #4d4d4d;
	border-radius: 4px;
	border: none; }
		
button:hover {
	color: rgb(76, 157, 250); 
	background:  #5a5a5a; }
			
button:active {
	font-size: 20px;
	color: rgb(108, 255, 78);
	box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.9);
	background:   #202433; }
