window {
	background-color: #282C31; 
}

list {
	color: rgb(153, 153, 153);
	background-color: transparent;
	border: none; }

entry {
	font-family: "Arial";
	font-size: 12px;
	color:  #ffffff;
	background-color: rgba(94, 94, 94, 0.2);
	border: 1px solid rgb(117, 117, 117); 
}

row {
	transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94); 
}

row:selected {
	/* background-color: rgba(184, 184, 184, 0.5); */
	background: linear-gradient(96.78deg, #484849 0%, #33383d 100%);
	border-left: 1px solid rgb(117, 117, 117); 
}

row:hover.contact_row {
	color: rgb(230, 230, 230); }

.chats_contacts_stack {
	/* background-color: #3b4147; */
	border-left: 1px solid #34393f; 
	border-right: 1px solid #34393f; 
}

.initials_lab {
	font-family: "Helvetica Neue";
	font-size: 28px;
	color: #535150; 
}

.username_lab {
	font-family: "Helvetica Neue";
	font-weight: 500;
	font-size: 16px; 
}

.avatar_box {
	background-color: #CACACA;
	border: 1px solid rgb(117, 117, 117); 
	border-radius: 25px;
}

.avatar_main {
	background-color: #c0c0c0;
	border: 1px solid rgb(117, 117, 117); 
	border-radius: 60px;
}
	
.avatar_contact_info {
	font-size: 12px;
	background-color: #c0c0c0;
	border: 1px solid rgb(117, 117, 117); 
	border-radius: 25px;
}

.logout_button {
	color: rgb(228, 228, 228);
	font-family: "Arial Rounded MT Bold";
	font-size: 16px;
	text-shadow: none;
	box-shadow: none;
	background: transparent;
	border: none;
	border-radius: 0; }

.logout_button:hover {
	transition: 200ms;
	color: rgb(182, 80, 80); }

.logout_button:active {
	background:  #202433;
	border: 1px solid rgb(117, 117, 117); 
}

.contact_search_end_button {
	color: rgb(228, 228, 228);
	font-family: "Helvetica Neue";
	font-size: 16px;
	text-shadow: none;
	border: 1px solid rgb(117, 117, 117); 
	background:  #4d4d4d;
}

.contact_search_end_button:hover {
	color: rgb(241, 241, 241);
	background:  #5a5a5a; }

.contact_search_end_button:active {
	border: 1px solid rgb(117, 117, 117); 
	/* box-shadow: inset 0 2px 3px 0px rgba(48, 48, 48, 0.9); */
	background:   #332020; }

.write_message_button {
	color: rgb(228, 228, 228);
	font-family: "Helvetica Neue";
	font-size: 18px;
	text-shadow: none;
	border: 1px solid rgb(117, 117, 117); 
	box-shadow: none;
	background:  #4d4d4d;
	border-radius: 4px;
}

.write_message_button:hover {
	color: #3ea2ff;
	background:  #5a5a5a; }
	
.write_message_button:active {
	font-size: 20px;
	color: #3ea2ff;
	box-shadow: none;
	/* box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.9); */
	background:   #454750; }

.delete_contact_button {
	color: rgb(228, 228, 228);
	font-family: "Helvetica Neue";
	font-size: 18px;
	text-shadow: none;
	box-shadow: none;
	border: 1px solid rgb(117, 117, 117); 
	/* box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.205); */
	background:  #4d4d4d;
	border-radius: 4px;
}
	
.delete_contact_button:hover {
	color: rgb(255, 122, 122);
	background:  #5a5a5a; }
		
.delete_contact_button:active {
	font-size: 20px;
	color: rgb(255, 78, 78);
	border: 1px solid rgb(117, 117, 117); 
	box-shadow: none;
	/* box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.9); */
	background:   #523232; 
}

.add_contact_button {
	color: rgb(228, 228, 228);
	font-family: "Helvetica Neue";
	font-size: 18px;
	text-shadow: none;
	border: 1px solid rgb(117, 117, 117); 
	box-shadow: none;
	background:  #4d4d4d;
	border-radius: 4px;
}
		
.add_contact_button:hover {
	color: rgb(153, 255, 122); 
	background:  #5a5a5a; }
			
.add_contact_button:active {
	font-size: 20px;
	color: rgb(108, 255, 78);
	border: 1px solid rgb(117, 117, 117); 
	box-shadow: none;
	background:   #202433; }


.message_row {
	/* margin: 8px 0px 5px 10px; */
	transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
	
.message_row_owner:selected {
	background: transparent;
	box-shadow: none;
}

.message_row:selected {
	background: transparent;
	box-shadow: none;
	border-right: 1px solid rgb(117, 117, 117);
	border-left: 0px ;
}
	
.message_row:hover {
	color: rgb(230, 230, 230); 
	/* background: linear-gradient(96.78deg, #39393A 0%, #282C31 100%); */
}

.message_avatar_box {
	background-color:#c0c0c0;
	border-radius: 25px;
	border-color: rgb(235, 235, 235);
	border-style: solid; 
    border-width: 2px;
}

.message_box_owner {
	/* background-color: rgba(94, 94, 94, 0.2); */
	background: linear-gradient(90.54deg, #5B5B5B 0%, #4D4D4D 100%);
	border-radius: 0px 10px 10px 10px;
	
	/* border: none;  */
	color: #d7d7d7;
}

.message_box {
	/* background-color: rgba(94, 94, 94, 0.2); */
	background: linear-gradient(90.54deg, #5B5B5B 0%, #4D4D4D 100%);
	border-radius: 10px 0px 10px 10px;
	/* border: none;  */
	color: #d7d7d7;
}

.time_label {
	font-family: "Helvetica Neue";
	color: #aabccf;
	font-size: 12px;
}

.message_label {
	font-family: "Helvetica Neue";
	/* line-height: 25em; */
	letter-spacing: 0.08rem;
	font-weight: 100;
	font-size: 13px;
}

.send_button {
	color: rgb(228, 228, 228);
	font-family: "Helvetica Neue";
	font-size: 18px;
	text-shadow: none;
	border: 1px solid rgb(117, 117, 117); 
	box-shadow: none;
	/* box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.281); */
	background:  #4d4d4d;
	border-radius: 4px;
}
		
.send_button:hover {
	color: rgb(153, 255, 122); 
	background:  #5a5a5a; }
			
.send_button:active {
	font-size: 20px;
	color: rgb(156, 156, 156);
	border: 1px solid rgb(117, 117, 117); 
	box-shadow: none;
	/* box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.9); */
	background:   #202433; }

.time_lab {
	font-family: "Helvetica Neue";
	color: #aabccf;
	font-size: 12px;	
}

.username_chat_lab {
	font-family: "Helvetica Neue";
	font-size: 15px;
	font-weight: 500;
	color: #ffffff;
}

.chat_row {
	font-family: "Helvetica Neue";
	color: #a1bedd;
	font-size: 15px;
}