window {
    background-color: rgba(48, 48, 48, 1); }

list {
	color: rgb(153, 153, 153);
	background-color: transparent;
	border: none; }

.main_list {
	box-shadow: -5px 0px 6px 0px rgba(0, 0, 0, 0.466); }

entry {
	box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.9);
	font-family: "Helvetica Neue";
	font-size: 17px;
	color:  #d7d7d7;
	background-color: #202433;
	border: none; }

row {
	transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }

row:selected {
	background-color: #202433;
	box-shadow: inset 0 2px 3px -1px rgba(0, 0, 0, 0.5); }

row:hover.contact_row {
	color: rgb(230, 230, 230); }

.chats_contacts_stack {
	box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.26); }

.initials_lab {
	font-family: "Helvetica Neue";
	font-size: 28px;
	color: #535150; }

.username_lab {
	font-family: "Helvetica Neue";
	font-size: 23px; }

.avatar_box {
	background-color:#c0c0c0;
	box-shadow:  0px 0px 3px 2px rgba(0, 0, 0, 0.459);
	border-radius: 25px; }

.avatar_main {
	background-color: #c0c0c0;
	box-shadow:  0px 0px 6px 1px rgba(0, 0, 0, 0.575);
	border-radius: 60px; }

.logout_button {
	color: rgb(228, 228, 228);
	font-family: "Arial Rounded MT Bold";
	font-size: 16px;
	text-shadow: none;
	box-shadow: none;
	background: transparent;
	border: none;
	border-radius: 0; }

.logout_button:hover {
	transition: 200ms;
	color: rgb(182, 80, 80); }

.logout_button:active {
	background:  #202433;
	box-shadow: inset -2px 2px 2px 0px rgba(0, 0, 0, 0.281); }

.contact_search_end_button {
	color: rgb(228, 228, 228);
	font-family: "Helvetica Neue";
	font-size: 16px;
	text-shadow: none;
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.281);
	background:  #4d4d4d;
	border-radius: 4px;
	border: none; }

.contact_search_end_button:hover {
	color: rgb(241, 241, 241);
	background:  #5a5a5a; }

.contact_search_end_button:active {
	box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.9);
	background:   #202433; }