window {
    background-color: rgba(48, 48, 48, 1); }

list {
	color: rgb(153, 153, 153);
	background-color: transparent;
	border: none; }

.main_list {
	box-shadow: -5px 0px 6px 0px rgba(0, 0, 0, 0.466); }

entry {
	box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.9);
	font-family: "Helvetica Neue";
	font-size: 17px;
	color:  #d7d7d7;
	background-color: #202433;
	border: none; }

row {
	transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }

row:selected {
	background-color: #202433;
	box-shadow: inset 0 2px 3px -1px rgba(0, 0, 0, 0.5); }

row:hover.contact_row {
	color: rgb(230, 230, 230); }

.chats_contacts_stack {
	box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.26); }

.initials_lab {
	font-family: "Helvetica Neue";
	font-size: 28px;
	color: #535150; }

.username_lab {
	font-family: "Helvetica Neue";
	font-size: 23px; }

.avatar_box {
	background-color:#c0c0c0;
	box-shadow:  0px 0px 3px 2px rgba(0, 0, 0, 0.459);
	border-radius: 25px;
	border-color: rgb(235, 235, 235);
	border-style: solid; 
    border-width: 2px;  }

.avatar_main {
	background-color: #c0c0c0;
	box-shadow:  0px 0px 6px 1px rgba(0, 0, 0, 0.575);
	border-radius: 60px;
	border-color: rgb(235, 235, 235);
	border-style: solid; 
	border-width: 3px; }
	
.avatar_contact_info {
	background-color: #c0c0c0;
	box-shadow:  0px 0px 6px 1px rgba(0, 0, 0, 0.575);
	border-radius: 15px;
	border-color: rgb(235, 235, 235);
	border-style: solid; 
	border-width: 4px; 
}

.logout_button {
	color: rgb(228, 228, 228);
	font-family: "Arial Rounded MT Bold";
	font-size: 16px;
	text-shadow: none;
	box-shadow: none;
	background: transparent;
	border: none;
	border-radius: 0; }

.logout_button:hover {
	transition: 200ms;
	color: rgb(182, 80, 80); }

.logout_button:active {
	background:  #202433;
	box-shadow: inset -2px 2px 2px 0px rgba(0, 0, 0, 0.281); }

.contact_search_end_button {
	color: rgb(228, 228, 228);
	font-family: "Helvetica Neue";
	font-size: 16px;
	text-shadow: none;
	box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.205);
	background:  #4d4d4d;
	border-radius: 4px;
	border: none; }

.contact_search_end_button:hover {
	color: rgb(241, 241, 241);
	background:  #5a5a5a; }

.contact_search_end_button:active {
	box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.9);
	background:   #202433; }

.write_message_button {
	color: rgb(228, 228, 228);
	font-family: "Helvetica Neue";
	font-size: 18px;
	text-shadow: none;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.205);
	background:  #4d4d4d;
	border-radius: 4px;
	border: none; }

.write_message_button:hover {
	color: #3ea2ff;
	background:  #5a5a5a; }
	
.write_message_button:active {
	font-size: 20px;
	color: #3ea2ff;
	box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.9);
	background:   #202433; }

.delete_contact_button {
	color: rgb(228, 228, 228);
	font-family: "Helvetica Neue";
	font-size: 18px;
	text-shadow: none;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.205);
	background:  #4d4d4d;
	border-radius: 4px;
	border: none; }
	
.delete_contact_button:hover {
	color: rgb(255, 122, 122);
	background:  #5a5a5a; }
		
.delete_contact_button:active {
	font-size: 20px;
	color: rgb(255, 78, 78);
	box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.9);
	background:   #202433; }

.add_contact_button {
	color: rgb(228, 228, 228);
	font-family: "Helvetica Neue";
	font-size: 18px;
	text-shadow: none;
	box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.281);
	background:  #4d4d4d;
	border-radius: 4px;
	border: none; }
		
.add_contact_button:hover {
	color: rgb(153, 255, 122); 
	background:  #5a5a5a; }
			
.add_contact_button:active {
	font-size: 20px;
	color: rgb(108, 255, 78);
	box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.9);
	background:   #202433; }


.message_row {
	transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }
	
.message_row:selected {
	background-color: transparent;
	box-shadow: none; }
	
.message_row:hover {
	color: rgb(230, 230, 230); }

.message_avatar_box {
	background-color:#c0c0c0;
	box-shadow:  0px 0px 3px 2px rgba(0, 0, 0, 0.459);
	border-radius: 25px;
	border-color: rgb(235, 235, 235);
	border-style: solid; 
    border-width: 2px;
}

.message_box {
	background-color: rgba(94, 94, 94, 0.5);
	box-shadow: inset 0 0px 1px 1px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	border: none; 
}

.time_label {
	font-family: "Helvetica Neue";
	font-size: 10px;
}

.message_label {
	font-family: "Lucida";
	/* letter-spacing: 1px; */
	font-weight: 300;
	font-size: 13px;
	
}